*{padding: 0; margin: 0; font-family: nanummyeongjo;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
em, i, address{font-style: normal;}


@font-face{
    src:url("../font/NanumFontSetup_OTF_MYUNGJO/NanumMyeongjo.otf") format('woff'),
        url("../font/NanumFontSetup_OTF_MYUNGJO/NanumMyeongjo.otf") format('woff2');
    font-family : "nanummyeongjo";
   }
  
#welcome-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #131318;
    transition: 2s;
    z-index: 100;
    cursor: pointer;
}

#sea-bg{
    display: flex;
    position: relative;
    align-items: start;
    width: 100%;
    height: 100%;
    background-color: #131318;
}
#sea-bg video{
    display: block;
    width: 100%;
    height: 100%;
}
#sea-bg video:nth-of-type(2){
    display: none;
    height: 100%;
}
#sea-bg div.bg-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 10, 10, 0.7);
    
}
#sea-bg p{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    content: "";
    background-color: #fff;
    box-shadow: 0px 0px 1.8px 1.8px #fff8b5;
    border-radius: 50px;
    animation: blink 2s ease infinite;

}

#sea-bg p:first-of-type{
    width: 2px;
    height: 2px;
    top: 10%;
    left: 5%;
    animation: blink 3s ease infinite;
}
#sea-bg p:nth-of-type(2){
    width: 1px;
    height: 1px;
    top: 20%;
    left: 40%;
    animation: blink 5s ease infinite;
}
#sea-bg p:nth-of-type(3){
    width: 3px;
    height: 3px;
    top: 15%;
    left: 32%;
    animation: blink 2.5s ease infinite;
}
#sea-bg p:nth-of-type(4){
    width: 2px;
    height: 2px;
    top: 15%;
    left: 50%;
    animation: blink 3.7s ease infinite;
}
#sea-bg p:nth-of-type(5){
    width: 4px;
    height: 4px;
    top: 17%;
    left: 60%;
    animation: blink 1.8s ease infinite;
}

#sea-bg p:nth-of-type(6){
    width: 1px;
    height: 1px;
    top: 5%;
    left: 88%;
    animation: blink 1.2s ease infinite;
}
#sea-bg p:nth-of-type(7){
    width: 3px;
    height: 3px;
    top: 10%;
    left: 80%;
    animation: blink 1.8s ease infinite;
}
#sea-bg p:nth-of-type(8){
    top: 20%;
    left: 15%;
    animation: blink 3.5s ease infinite;
}
#sea-bg p:nth-of-type(9){
    top: 10%;
    left: 25%;
    animation: blink 4s ease infinite;
}
#sea-bg p:nth-of-type(10){
    top: 15%;
    left: 95%;
    animation: blink 7s ease infinite;
}



.saying{
    display: flex;
    flex-wrap: wrap;
    width: 390px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -195px;
    color: #c9c9c9;
    font-size: 20px;
    text-align: center;
}
.n-btn-wrap{
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -25px;
    font-size: 12px;
    opacity: 0;
    transition: 1s;
}
.next-page{
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 55px;
    text-align: center;
    background:none;
    outline: none;
    border: none;
    color: #c9c9c9;
    text-align: center;
}
.next-page::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -26px;
    margin-top: -25px;
    border-radius: 9999px;
    padding: 1px;
    background: linear-gradient(to right, #c9c9c9, rgb(67, 67, 67));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    animation: rotate 2.8s ease-in-out infinite;
}

#intro{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 400px;
    background-color:tomato;
    transition: .5s;
    z-index: 1;
}



@keyframes blink {
     0% { opacity: 0;}
     100% {opacity: 1;}
     }
@keyframes rotate {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(36deg);}
    20% {transform: rotate(72deg);}
    30% {transform: rotate(108deg);}
    40% {transform: rotate(144deg);}
    50% {transform: rotate(180deg);}
    60% {transform: rotate(216deg);}
    70% {transform: rotate(252deg);}
    80% {transform: rotate(288deg);}
    90% {transform: rotate(324deg);}
    100% {transform: rotate(360deg);}
}

@media all and (max-width:747px){
    #sea-bg p:nth-of-type(2){
        display: none;
    }
    #sea-bg p:nth-of-type(5){
        display: none;
    }
    #sea-bg p:nth-of-type(8){
        display: none;
    }
    #sea-bg p:nth-of-type(10){
        display: none;
    }
}
@media all and (max-width:670px){
    .saying{
        width: 300px;
        font-size: 16px;
        margin-left: -150px;
    }
}
@media all and (max-width:418px){
    #sea-bg video:first-of-type{
        display: none;
    }
    #sea-bg video:nth-of-type(2){
        display: block;
    }
    #sea-bg p:first-of-type{
        width: 2px;
        height: 2px;
        top: 4%;
        left: 5%;
        animation: blink 3s ease infinite;
    }
    #sea-bg p:nth-of-type(3){
        width: 3px;
        height: 3px;
        top: 7%;
        left: 32%;
        animation: blink 2.5s ease infinite;
    }
    #sea-bg p:nth-of-type(4){
        width: 2px;
        height: 2px;
        top: 7%;
        left: 50%;
        animation: blink 3.7s ease infinite;
    }
    #sea-bg p:nth-of-type(6){
        width: 1px;
        height: 1px;
        top: 4%;
        left: 88%;
        animation: blink 1.2s ease infinite;
    }
    #sea-bg p:nth-of-type(7){
        width: 3px;
        height: 3px;
        top: 6%;
        left: 80%;
        animation: blink 1.8s ease infinite;
    }
    #sea-bg p:nth-of-type(9){
        top: 7%;
        left: 25%;
        animation: blink 4s ease infinite;
    }
}

.hidden{
    display: none;
}
.transparency{
    opacity: 0;
}
.active{
    opacity: 1 !important;
}